.app-header {
  mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  .spacer {
    flex: 1 1 auto;
  }

  button {
    margin-left: 1rem;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .username {
    font-weight: 500;
    color: white;
  }
}


